.header {
  height: 70px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header h1 {
  font-size: 30px;
  background-clip: text;
  background: linear-gradient(45deg, #515bd4, #8134af, #dd2a7b, #f58529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logoBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  border-radius: 50%;
}
@media (max-width: 600px) {
  .header {
    margin: 0 1rem;
  }
  .header h1 {
    font-size: 24px;
  }
}
